h3{
    font-family:"pricedown";
}
.searchbar{
    width: 35rem;
}

.btn-curved {
    background-color: goldenrod;
    border-radius: 2em;
}


.qty-bar{
    width: 5em;
    border: none;
}

.modal-position{
    display: grid;
    place-items: center;
}
.card{ 
   width: 25em;
}

.card:hover{
    transform: translateY(-5px);
    transition: transform .4s;
    
}

.heart-icon{
    display: float;
    padding-left: 1em;
}

.heart-icon:hover{
    transform: translateY(-10px);
    transition: transform .2s;
}