$primary: #f8f7ff;
$secondary: #b8ff;
$tertiary: #5f53a8;

.firstColor{
    background-color: $primary;
}
.secondColor{
    background-color: $secondary;
}
.thirdColor{
    background-color: $tertiary;
}
