// Bootstrap source Sass files import


$primary: red ;

body{
    background-color: black;
}

.searchbar{
    width: 20rem;
}

h1{
    font-weight: bold;
}
.navbar-style{
  color: white;
}

.card-container{
  border-radius: 2em;
}

.card{ 
   width: 18em;
   height:fit-content;
   padding: .8em;
   border-radius: 2em;
}

.card:hover{
    transform: translateY(-20px);
    transition: transformr .4s;
}

.heart-icon{
    display: relative;
    justify-self: right ;
}
