// Bootstrap source Sass files import


$primary: red ;

body{
    background-color: black;
}
.navbar-style{
  color: white;
}
.card-style{
    width: 20em;
    margin: 2rem;
    padding: .5em;
    border-radius: 2em;
}

.card{
   display: relative; 
   width: 25em;
   height: auto;
   padding: .8rem;
   border-radius: 200px;
}

.card:hover{
    translate: -15;
}

.heart-icon{
    display: relative;
    justify-self: right ;
}
