// Bootstrap source Sass files import
$primary: #09365d;

@import "./node_modules/bootstrap/scss/bootstrap";




h3{
    font-family:"pricedown";
}

.searchbar{
    width: 25rem;
}

.btn-curved {
    background-color: goldenrod;
    border-radius: 1em;
}

.qty-bar{
    width: 5em;
    border: none;
}
.card-syle{
    aspect-ratio: 16/9;
}
.card-stle:hover{
    transform: translateY(-5px);
    transition: transform .4s;
    
}

.heart-icon{
    display: float;
    padding-left: 1em;
}

.heart-icon:hover{
    transform: translateY(-10px);
    transition: transform .2s;
}

.card{
    width: 25rem ;
    display: flex;
    flex-wrap: nowrap;
}

